In [4]:
import pandas as pd
import numpy as np
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [5]:
data=pd.read_csv("Company_Data.csv")
df=pd.DataFrame(data)
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [7]:
df.isna().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [9]:
df.shape

(400, 11)

In [21]:
df.dtypes

Sales           float64
CompPrice         int64
Income            int64
Advertising       int64
Population        int64
Price             int64
ShelveLoc      category
Age               int64
Education         int64
Urban          category
US             category
ShaelveLoc     category
dtype: object

In [22]:
df['ShelveLoc']=df['ShelveLoc'].astype('category')
df['Urban']=df['Urban'].astype('category')
df['US']=df['US'].astype('category')

In [23]:
df.dtypes

Sales           float64
CompPrice         int64
Income            int64
Advertising       int64
Population        int64
Price             int64
ShelveLoc      category
Age               int64
Education         int64
Urban          category
US             category
ShaelveLoc     category
dtype: object

In [28]:
com=df.drop(['ShaelveLoc'],axis=1)

In [29]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
com['ShelveLoc']=label_encoder.fit_transform(com['ShelveLoc'])
com['Urban']=label_encoder.fit_transform(com['Urban'])
com['US']=label_encoder.fit_transform(com['US'])

In [31]:
com.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

In [33]:
com['Sales']=com['Sales'].map(lambda x:1 if x>8 else 0)
com['Sales']

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: Sales, Length: 400, dtype: int64

In [35]:
x=com.iloc[:,1:]
x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1
396,139,23,3,37,120,2,55,11,0,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,0,50,12,1,1
399,134,37,0,27,120,1,49,16,1,1

In [38]:
y=com['Sales']
y

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: Sales, Length: 400, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,stratify=y)

In [52]:
model=RandomForestClassifier(max_depth=5)
model.fit(x_train,y_train)

RandomForestClassifier(max_depth=5)

In [53]:
y_train_pred=model.predict(x_train)
y_test_pred=model.predict(x_test)

In [54]:
from sklearn.metrics import confusion_matrix,precision_score, accuracy_score

In [55]:
accuracy_score(y_train,y_train_pred)

0.9321428571428572

In [56]:
confusion_matrix(y_train,y_train_pred)

array([[164,   1],
       [ 18,  97]], dtype=int64)

In [57]:
precision_score(y_train,y_train_pred)

0.9897959183673469

In [58]:
accuracy_score(y_test,y_test_pred)

0.775

In [59]:
confusion_matrix(y_test,y_test_pred)

array([[64,  7],
       [20, 29]], dtype=int64)

In [60]:
precision_score(y_test,y_test_pred)

0.8055555555555556